:root {
}

.unity-popup-field {
    flex-grow: 1;
    min-width: 25px;
    width: 100px;
    max-width: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.unity-enum-field {
    flex-grow: 1;
    width: 50px;
    max-width: 100px;
    min-width: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
}
